<app-header></app-header>
<!-- <mat-sidenav-container>
  <mat-sidenav mode="side">
    <mat-list>
      <mat-list-item>Dashboard</mat-list-item>
      <mat-list-item>Events</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
  <mat-grid-tile rowspan="2">
    <mat-card class="example-card">
      <app-placelist (selectedPlaceChanged)="setSelectedPlace($event)">Places list placeholder</app-placelist>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <app-weather [weather]="weather" ></app-weather>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <app-social [social]="social" ></app-social>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->

